.main{
    border: solid red 1px; //Ayudas visuales para la maquetacion (Quitar esto despues)
    border-radius: 4px;
    margin: 1px;
    padding: 5px;
        .articulos{
        border: solid black 1px; //Ayudas visuales para la maquetacion (Quitar esto despues)
        border-radius: 4px;
        margin: 1px;
        padding: 5px; 
        }

}